// Colors
$color-primary-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark : #28b485;
$color-dark-grey: #777;
$color-dark-grey-2: #999;
$color-dark-grey-3: #333;
$color-white: #DEDEDE;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #D6B02A;

$color-tertriary-light: #2998ff;
$color-tertriary-dark: #5643fa;

$color-grey-light-1:  #f7f7f7;
$color-grey-light-2: #eee;

// FONT SIZING
$default-font-size: 62.5%;